.content-block {
  color: $grey;
  line-height: 1;

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    margin-bottom: 10px;
    line-height: 1;
  }

  p,
  ul,
  ol,
  a {
    line-height: 1;
  }
}
