<aside class="wrap-main-col__aside aside-right show-for-large">
  <div class="aside-right__sticky">
    <div class="aside-right__basket basket-block">
      <div class="basket-block__title aside-right__title">Ваша корзина пуста.</div>
      <div>
        <div class="aside-right__small-title">Добавьте же скорее что-нибудь!</div>
        <div class="basket-block__delivery">Бесплатная доставка от 800 СОМ</div>
      </div>
    </div>
    <a href="#" class="aside-right__geo">
      <img src="{{root}}assets/img/aside-right/map.jpg" width="290px" height="116px" alt="map" />
      <div class="aside-right__mark">
        <img src="{{root}}assets/img/aside-right/mark.svg" width="38px" height="38px" alt="mark" />
      </div>
      <div class="aside-right__title">Укажите адрес</div>
      <div class="aside-right__small-title">И узнайте время доставки</div>
    </a>
  </div>
</aside>
