<aside class="aside-left">
  <div class="aside-left__sticky">
    <div class="aside-left__logo">
      <img src="{{root}}assets/img/logo-aside.svg" alt="" />
    </div>
    <nav class="aside-left__nav">
      <ul class="aside-left__ul">
        <li class="aside-left__li">
          <a class="aside-left__link" href="#"
            ><img
              class="aside-left__link-img"
              src="{{root}}assets/img/aside-left/menu-icon/pizza.svg"
              alt=""
            />Пицца</a
          >
        </li>
        <li class="aside-left__li">
          <a class="aside-left__link" href="#"
            ><img
              class="aside-left__link-img"
              src="{{root}}assets/img/aside-left/menu-icon/sets.svg"
              alt=""
            />Сеты</a
          >
        </li>
        <li class="aside-left__li">
          <a class="aside-left__link" href="#"
            ><img
              class="aside-left__link-img"
              src="{{root}}assets/img/aside-left/menu-icon/wok.svg"
              alt=""
            />WOK</a
          >
        </li>
        <li class="aside-left__li">
          <a class="aside-left__link" href="#"
            ><img
              class="aside-left__link-img"
              src="{{root}}assets/img/aside-left/menu-icon/rolls.svg"
              alt=""
            />Роллы</a
          >
        </li>
        <li class="aside-left__li">
          <a class="aside-left__link" href="#"
            ><img
              class="aside-left__link-img"
              src="{{root}}assets/img/aside-left/menu-icon/sushi.svg"
              alt=""
            />Суши</a
          >
        </li>
        <li class="aside-left__li">
          <a class="aside-left__link" href="#"
            ><img
              class="aside-left__link-img"
              src="{{root}}assets/img/aside-left/menu-icon/salads.svg"
              alt=""
            />Салаты
          </a>
          <div class="aside-left__link-mark link-mark">скоро</div>
        </li>
        <li class="aside-left__li">
          <a class="aside-left__link" href="#"
            ><img
              class="aside-left__link-img"
              src="{{root}}assets/img/aside-left/menu-icon/soups.svg"
              alt=""
            />Супы</a
          >
          <div class="aside-left__link-mark link-mark">скоро</div>
        </li>
        <li class="aside-left__li">
          <a class="aside-left__link" href="#"
            ><img
              class="aside-left__link-img"
              src="{{root}}assets/img/aside-left/menu-icon/beverages.svg"
              alt=""
            />Напитки</a
          >
        </li>
        <li class="aside-left__li">
          <a class="aside-left__link" href="#"
            ><img
              class="aside-left__link-img"
              src="{{root}}assets/img/aside-left/menu-icon/korn.svg"
              alt=""
            />Корн доги</a
          >
        </li>
        <li class="aside-left__li">
          <a class="aside-left__link" href="#"
            ><img
              class="aside-left__link-img"
              src="{{root}}assets/img/aside-left/menu-icon/stocks.svg"
              alt=""
            />Акции</a
          >
        </li>
      </ul>
    </nav>
  </div>
</aside>
