<section class="category-main">
  <div class="grid-container grid-container_narrow">
    <div class="grid-x grid-margin-x">
      <div class="cell large-6">
        <div class="grid-x grid-margin-x">
          <div class="cell small-6">
            <a
              href="#"
              class="category-main__item category-main__item_menu"
              style="background-image: url('{{root}}assets/img/category-main/pizza.jpg')"
            >
              Пицца
            </a>
          </div>
          <div class="cell small-6">
            <a
              href="#"
              class="category-main__item category-main__item_menu"
              style="background-image: url('{{root}}assets/img/category-main/sets.jpg')"
            >
              Сеты
            </a>
          </div>
        </div>
      </div>
      <div class="cell large-6">
        <div class="grid-x grid-margin-x">
          <div class="cell small-6">
            <a
              href="#"
              class="category-main__item category-main__item_menu"
              style="background-image: url('{{root}}assets/img/category-main/wok.jpg')"
            >
              WOK
            </a>
          </div>
          <div class="cell small-6">
            <a
              href="#"
              class="category-main__item category-main__item_menu"
              style="background-image: url('{{root}}assets/img/category-main/roll.jpg')"
            >
              Роллы
            </a>
          </div>
        </div>
      </div>
      <div class="cell large-6">
        <div class="grid-x grid-margin-x">
          <div class="cell small-6">
            <a
              href="#"
              class="category-main__item category-main__item_menu"
              style="background-image: url('{{root}}assets/img/category-main/susi.jpg')"
            >
              Суши
            </a>
          </div>
          <div class="cell small-6">
            <a
              href="#"
              class="category-main__item category-main__item_menu"
              style="background-image: url('{{root}}assets/img/category-main/soup.jpg')"
            >
              Супы
              <div class="category-main__link-mark link-mark">скоро</div>
            </a>
          </div>
        </div>
      </div>
      <div class="cell large-6">
        <div class="grid-x grid-margin-x">
          <div class="cell small-6">
            <a
              href="#"
              class="category-main__item category-main__item_menu"
              style="background-image: url('{{root}}assets/img/category-main/salads.jpg')"
            >
              Салаты
              <div class="category-main__link-mark link-mark">скоро</div>
            </a>
          </div>
          <div class="cell small-6">
            <a
              href="#"
              class="category-main__item category-main__item_menu"
              style="background-image: url('{{root}}assets/img/category-main/drinks.jpg')"
            >
              Напитки
            </a>
          </div>
        </div>
      </div>
      <div class="cell large-6">
        <a
          href="#"
          class="category-main__item"
          style="background-image: url('{{root}}assets/img/category-main/combo.jpg')"
        >
          Комбо
        </a>
      </div>
      <div class="cell large-6">
        <div class="grid-x grid-margin-x">
          <div class="cell">
            <div class="category-main__item-row">
              <a
                href="#"
                class="category-main__item category-main__item_small"
                style="background-image: url('{{root}}assets/img/category-main/eel.jpg')"
              >
                С угрем
              </a>
              <a
                href="#"
                class="category-main__item category-main__item_small"
                style="background-image: url('{{root}}assets/img/category-main/corn-dog.jpg')"
              >
                Корн дог
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="cell large-6">
        <a
          href="#"
          class="category-main__item"
          style="background-image: url('{{root}}assets/img/category-main/chiken.jpg')"
        >
          Чикен
        </a>
      </div>
      <div class="cell large-6">
        <a
          href="#"
          class="category-main__item"
          style="background-image: url('{{root}}assets/img/category-main/actions.jpg')"
        >
          Акции
        </a>
      </div>
    </div>
  </div>
</section>
