<div class="grid-container">
  <section class="feedback-block">
    <div class="feedback-block__top">
      <h1>Отзывы</h1>
      <div class="feedback-block__item">
        <div class="feedback-block__item-top">
          <div class="feedback-block__name">Розалия</div>
          <div class="feedback-block__date">02.24.21</div>
        </div>
        <div class="feedback-block__text">
          <p>
            Ваша доставка и ваши блюда лучшие в Харькове!) всегда очень вкусно, вовремя, всегда
            вежливые курьеры и девушки на телефоне
          </p>
        </div>
      </div>
      <div class="feedback-block__item">
        <div class="feedback-block__item-top">
          <div class="feedback-block__name">Елена</div>
          <div class="feedback-block__date">02.23.21</div>
        </div>
        <div class="feedback-block__text">
          <p>Ооочень вкусно!!!!!</p>
        </div>
      </div>
      <div class="feedback-block__item">
        <div class="feedback-block__item-top">
          <div class="feedback-block__name">Сергей Гаврилюк</div>
          <div class="feedback-block__date">02.23.21</div>
        </div>
        <div class="feedback-block__text">
          <p>
            Заказываем у Вас больше 2 -ух лет, были разные ситуации, но сервис стал лучше, суши
            вкуснее. За доставку сегодня на время, огромное спасибо, точь-в-точь в минута в минуту.
            Успехов Вам и приятных бонусов нам )
          </p>
        </div>
      </div>
    </div>
    <button class="feedback-block__btn second-btn">+ Добавить отзыв</button>
  </section>
</div>
