<div class="footer">
  <div class="grid-container grid-container_narrow">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-4 hide-for-small-only">
        <ul class="footer__ul">
          <li class="footer__li"><a href="#">О компании</a></li>
          <li class="footer__li"><a href="#">Доставка и оплата</a></li>
          <li class="footer__li"><a href="#">Лента материалов</a></li>
          <li class="footer__li"><a href="#">Политика возврата</a></li>
        </ul>
      </div>
      <div class="cell medium-4">
        <div class="footer__text">Выберите удобный мессенджер для общения</div>
        <div class="footer__messenger messenger-list">
          <a href="#" class="messenger-list__item">
            <img src="{{root}}assets/img/messengers/whatsapp.svg" alt="" />
          </a>
          <a href="#" class="messenger-list__item">
            <img src="{{root}}assets/img/messengers/telegram.svg" alt="" />
          </a>
          <a href="#" class="messenger-list__item">
            <img src="{{root}}assets/img/messengers/instagram.svg" alt="" />
          </a>
        </div>
      </div>
      <div class="cell medium-4">
        <div class="footer__text">
          Тел:<a class="footer__link" href="tel:+996 705 188 955">+996 705 188 955</a>
        </div>
        <div class="footer__text">
          Тел:<a class="footer__link" href="tel:+996 555 188 955">+996 555 188 955</a>
        </div>
        <div class="footer__text">Адрес:Бакаева 126</div>
      </div>
    </div>
  </div>
</div>
