<header class="wrap-main-col__header header">
  <div class="header__logo hide-for-medium">
    <img src="{{root}}assets/img/logo.svg" alt="" />
  </div>
  <div class="header__left-info">
    <div>
      <span class="header__phone-title">Наш телефон</span>
      <a class="header__phone" href="tel:+996 705 188 955">+996 705 188 955</a>
      <a class="header__phone" href="tel:+996 555 188 955">+996 555 188 955</a>
    </div>
    <span class="header__work-time">
      <img class="header__work-time-img" src="{{root}}assets/img/header/clock.svg" alt="" />работаем
      с 10:00 до 00:00
    </span>
  </div>
  <div class="header__city show-for-medium">
    <span class="header__city-name">Город:</span>
    <span>Бишкек</span>
  </div>
  <div class="header__menu hide-for-small-only">
    <a class="header__link" href="#">Отзывы</a>
    <a class="header__link" href="#">Доставка и оплата</a>
  </div>
  <a href="#" class="header__search">
    <img src="{{root}}assets/img/search.svg" alt="" />
  </a>
</header>
{{> mobile-fix-menu}}
