<div class="main-slides">
  <div class="grid-container grid-container_narrow">
    <div class="main-slides__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a class="main-slides__link" href="#">
            <img
              class="main-slides__img"
              src="{{root}}assets/img/main-slider/slide.jpg"
              width="950px"
              height="470px"
              alt=""
            />
          </a>
        </div>
        <div class="swiper-slide">
          <a class="main-slides__link" href="#">
            <img
              class="main-slides__img"
              src="{{root}}assets/img/main-slider/slide.jpg"
              width="950px"
              height="470px"
              alt=""
            />
          </a>
        </div>
        <div class="swiper-slide">
          <a class="main-slides__link" href="#">
            <img
              class="main-slides__img"
              src="{{root}}assets/img/main-slider/slide.jpg"
              width="950px"
              height="470px"
              alt=""
            />
          </a>
        </div>
      </div>
      <div class="main-slides__pagination">
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>
