<div class="mobile-fix-menu hide-for-large-only">
  <ul class="mobile-fix-menu__ul">
    <li class="mobile-fix-menu__li">
      <a class="mobile-fix-menu__link js-mobile-menu" href="#"
        ><img
          class="mobile-fix-menu__img"
          src="{{root}}assets/img/mobile-fix-menu/menu.svg"
          alt=""
        />Меню</a
      >
    </li>
    <li class="mobile-fix-menu__li">
      <a class="mobile-fix-menu__link" href="#"
        ><img
          class="mobile-fix-menu__img"
          src="{{root}}assets/img/mobile-fix-menu/basket.svg"
          alt=""
        />Корзина</a
      >
    </li>
    <li class="mobile-fix-menu__li">
      <a class="mobile-fix-menu__link" href="#"
        ><img
          class="mobile-fix-menu__img"
          src="{{root}}assets/img/mobile-fix-menu/feedback.svg"
          alt=""
        />Отзывы</a
      >
    </li>
  </ul>
</div>
