<section class="products-list">
  <div class="grid-container grid-container_narrow">
    <div class="products-list__top">
      <h1 class="products-list__top-item">
        <img
          class="products-list__title-img"
          src="{{root}}assets/img/category-page-icon.svg"
          alt=""
        />Сеты
      </h1>
      <div class="products-list__top-item">
        <div class="custom-select">
          <div class="custom-select__title">Сортировка</div>
          <select>
            <option class="select-block__option" value="1">По умолчанию</option>
            <option class="select-block__option" value="2">Название</option>
            <option class="select-block__option" value="3">Сначала дешевле</option>
            <option class="select-block__option" value="4">Сначала дороже</option>
            <option class="select-block__option" value="5">Количество кусочков</option>
            <option class="select-block__option" value="6">Вес</option>
          </select>
        </div>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="cell medium-4">
        <div class="products-list__item product-cart">
          <a href="#" class="product-cart__img">
            <img src="{{root}}assets/img/products/sets.jpg" width="950px" height="470px" alt="" />
          </a>
          <div class="product-cart__content">
            <a href="#" class="product-cart__title">Саломон сет</a>
            <div class="product-cart__info">1050 грамм, 30 кусочков</div>
            <div class="product-cart__bottom">
              <div class="product-cart__price">1500 СОМ</div>
              <button class="product-cart__btn main-btn">Хочу!</button>
            </div>
          </div>
        </div>
      </div>
      <div class="cell medium-4">
        <div class="products-list__item product-cart">
          <a href="#" class="product-cart__img">
            <img src="{{root}}assets/img/products/sets.jpg" width="950px" height="470px" alt="" />
          </a>
          <div class="product-cart__content">
            <a href="#" class="product-cart__title">Саломон сет</a>
            <div class="product-cart__info">1050 грамм, 30 кусочков</div>
            <div class="product-cart__bottom">
              <div class="product-cart__price">1500 СОМ</div>
              <button class="product-cart__btn main-btn">Хочу!</button>
            </div>
          </div>
        </div>
      </div>
      <div class="cell medium-4">
        <div class="products-list__item product-cart">
          <a href="#" class="product-cart__img">
            <img src="{{root}}assets/img/products/sets.jpg" width="950px" height="470px" alt="" />
          </a>
          <div class="product-cart__content">
            <a href="#" class="product-cart__title">Саломон сет</a>
            <div class="product-cart__info">1050 грамм, 30 кусочков</div>
            <div class="product-cart__bottom">
              <div class="product-cart__price">1500 СОМ</div>
              <button class="product-cart__btn main-btn">Хочу!</button>
            </div>
          </div>
        </div>
      </div>
      <div class="cell medium-4">
        <div class="products-list__item product-cart">
          <a href="#" class="product-cart__img">
            <img src="{{root}}assets/img/products/sets.jpg" width="950px" height="470px" alt="" />
          </a>
          <div class="product-cart__content">
            <a href="#" class="product-cart__title">Саломон сет</a>
            <div class="product-cart__info">1050 грамм, 30 кусочков</div>
            <div class="product-cart__bottom">
              <div class="product-cart__price">1500 СОМ</div>
              <button class="product-cart__btn main-btn">Хочу!</button>
            </div>
          </div>
        </div>
      </div>
      <div class="cell medium-4">
        <div class="products-list__item product-cart">
          <a href="#" class="product-cart__img">
            <img src="{{root}}assets/img/products/sets.jpg" width="950px" height="470px" alt="" />
          </a>
          <div class="product-cart__content">
            <a href="#" class="product-cart__title">Саломон сет</a>
            <div class="product-cart__info">1050 грамм, 30 кусочков</div>
            <div class="product-cart__bottom">
              <div class="product-cart__price">1500 СОМ</div>
              <button class="product-cart__btn main-btn">Хочу!</button>
            </div>
          </div>
        </div>
      </div>
      <div class="cell medium-4">
        <div class="products-list__item product-cart">
          <a href="#" class="product-cart__img">
            <img src="{{root}}assets/img/products/sets.jpg" width="950px" height="470px" alt="" />
          </a>
          <div class="product-cart__content">
            <a href="#" class="product-cart__title">Саломон сет</a>
            <div class="product-cart__info">1050 грамм, 30 кусочков</div>
            <div class="product-cart__bottom">
              <div class="product-cart__price">1500 СОМ</div>
              <button class="product-cart__btn main-btn">Хочу!</button>
            </div>
          </div>
        </div>
      </div>
      <div class="cell medium-4">
        <div class="products-list__item product-cart">
          <a href="#" class="product-cart__img">
            <img src="{{root}}assets/img/products/sets.jpg" width="950px" height="470px" alt="" />
          </a>
          <div class="product-cart__content">
            <a href="#" class="product-cart__title">Саломон сет</a>
            <div class="product-cart__info">1050 грамм, 30 кусочков</div>
            <div class="product-cart__bottom">
              <div class="product-cart__price">1500 СОМ</div>
              <button class="product-cart__btn main-btn">Хочу!</button>
            </div>
          </div>
        </div>
      </div>
      <div class="cell medium-4">
        <div class="products-list__item product-cart">
          <a href="#" class="product-cart__img">
            <img src="{{root}}assets/img/products/sets.jpg" width="950px" height="470px" alt="" />
          </a>
          <div class="product-cart__content">
            <a href="#" class="product-cart__title">Саломон сет</a>
            <div class="product-cart__info">1050 грамм, 30 кусочков</div>
            <div class="product-cart__bottom">
              <div class="product-cart__price">1500 СОМ</div>
              <button class="product-cart__btn main-btn">Хочу!</button>
            </div>
          </div>
        </div>
      </div>
      <div class="cell medium-4">
        <div class="products-list__item product-cart">
          <a href="#" class="product-cart__img">
            <img src="{{root}}assets/img/products/sets.jpg" width="950px" height="470px" alt="" />
          </a>
          <div class="product-cart__content">
            <a href="#" class="product-cart__title">Саломон сет</a>
            <div class="product-cart__info">1050 грамм, 30 кусочков</div>
            <div class="product-cart__bottom">
              <div class="product-cart__price">1500 СОМ</div>
              <button class="product-cart__btn main-btn">Хочу!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
