<section class="product-page">
  <div class="grid-container">
    <div class="product-page__navigation">
      <a class="product-page__navigation-link" href="#">Назад</a>
      <a class="product-page__navigation-link product-page__navigation-link_right" href="#"
        >Вперед</a
      >
    </div>
  </div>
  <div class="product-page__product">
    <div class="product-page__wrap">
      <img
        class="product-page__main-img"
        src="{{root}}assets/img/product-page/rolls.jpg"
        width="621px"
        height="435px"
        alt=""
      />
      <div class="product-page__content">
        <h1 class="product-page__title">Филадельфия и лосось сет</h1>
        <div class="product-page__weight">290 грамм</div>
        <div class="product-page__price-count">
          <div class="product-page__price price-text">1150 СОМ</div>
          <div class="product-page__count-item product-count-item product-count-item_big">
            <button class="product-count-item__btn">
              <img
                src="{{root}}assets/img/basket-count/take.svg"
                width="21px"
                height="2px"
                alt=""
              />
            </button>
            <div class="product-count-item__count">10</div>
            <button class="product-count-item__btn">
              <img
                src="{{root}}assets/img/basket-count/add.svg"
                width="40px"
                height="40px"
                alt=""
              />
            </button>
          </div>
        </div>
        <div class="product-page__compound">Состав</div>
        <div class="product-page__compound-text">Лосось, сыр "Филадельфия", огурец, авокадо</div>
        <button class="main-btn main-btn_wide">Хочу!</button>
      </div>
    </div>
    <div
      class="recommended-products js-recommended-products_1 product-page__compound show-for-small-only"
    >
      <div class="grid-container grid-container_narrow">
        <h2>Рекомендуем к этому товару</h2>
        <div class="recommended-products__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="recommended-products__item">
                <img
                  class="recommended-products__img"
                  src="{{root}}assets/img/reccommended-products/filla.jpg"
                  alt=""
                />
                <div class="recommended-products__name">Филадельфия</div>
                <div class="recommended-products__price">
                  <div class="price-text">140 СОМ</div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="recommended-products__item">
                <img
                  class="recommended-products__img"
                  src="{{root}}assets/img/reccommended-products/bansay.jpg"
                  alt=""
                />
                <div class="recommended-products__name">Филадельфия</div>
                <div class="recommended-products__price">
                  <div class="price-text">140 СОМ</div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="recommended-products__item">
                <img
                  class="recommended-products__img"
                  src="{{root}}assets/img/reccommended-products/arigato.jpg"
                  alt=""
                />
                <div class="recommended-products__name">Филадельфия</div>
                <div class="recommended-products__price">
                  <div class="price-text">140 СОМ</div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="recommended-products__item">
                <img
                  class="recommended-products__img"
                  src="{{root}}assets/img/reccommended-products/filla.jpg"
                  alt=""
                />
                <div class="recommended-products__name">Филадельфия</div>
                <div class="recommended-products__price">
                  <div class="price-text">140 СОМ</div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="recommended-products__item">
                <img
                  class="recommended-products__img"
                  src="{{root}}assets/img/reccommended-products/bansay.jpg"
                  alt=""
                />
                <div class="recommended-products__name">Филадельфия</div>
                <div class="recommended-products__price">
                  <div class="price-text">140 СОМ</div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="recommended-products__item">
                <img
                  class="recommended-products__img"
                  src="{{root}}assets/img/reccommended-products/arigato.jpg"
                  alt=""
                />
                <div class="recommended-products__name">Филадельфия</div>
                <div class="recommended-products__price">
                  <div class="price-text">140 СОМ</div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="product-page__recommended-products recommended-products recommended-products_wrap-arrows js-recommended-products_2"
  >
    <div class="grid-container grid-container_narrow">
      <h2>Рекомендуем к этому товару</h2>
      <div class="recommended-products__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="recommended-products__item">
              <img
                class="recommended-products__img"
                src="{{root}}assets/img/reccommended-products/filla.jpg"
                alt=""
              />
              <div class="recommended-products__name">Филадельфия</div>
              <div class="recommended-products__price">
                <div class="price-text">140 СОМ</div>
                <button class="recommended-products__button">
                  <img
                    class="recommended-products__icon"
                    src="{{root}}assets/img/add-basket.svg"
                    alt=""
                  />
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="recommended-products__item">
              <img
                class="recommended-products__img"
                src="{{root}}assets/img/reccommended-products/bansay.jpg"
                alt=""
              />
              <div class="recommended-products__name">Филадельфия</div>
              <div class="recommended-products__price">
                <div class="price-text">140 СОМ</div>
                <button class="recommended-products__button">
                  <img
                    class="recommended-products__icon"
                    src="{{root}}assets/img/add-basket.svg"
                    alt=""
                  />
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="recommended-products__item">
              <img
                class="recommended-products__img"
                src="{{root}}assets/img/reccommended-products/arigato.jpg"
                alt=""
              />
              <div class="recommended-products__name">Филадельфия</div>
              <div class="recommended-products__price">
                <div class="price-text">140 СОМ</div>
                <button class="recommended-products__button">
                  <img
                    class="recommended-products__icon"
                    src="{{root}}assets/img/add-basket.svg"
                    alt=""
                  />
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="recommended-products__item">
              <img
                class="recommended-products__img"
                src="{{root}}assets/img/reccommended-products/filla.jpg"
                alt=""
              />
              <div class="recommended-products__name">Филадельфия</div>
              <div class="recommended-products__price">
                <div class="price-text">140 СОМ</div>
                <button class="recommended-products__button">
                  <img
                    class="recommended-products__icon"
                    src="{{root}}assets/img/add-basket.svg"
                    alt=""
                  />
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="recommended-products__item">
              <img
                class="recommended-products__img"
                src="{{root}}assets/img/reccommended-products/bansay.jpg"
                alt=""
              />
              <div class="recommended-products__name">Филадельфия</div>
              <div class="recommended-products__price">
                <div class="price-text">140 СОМ</div>
                <button class="recommended-products__button">
                  <img
                    class="recommended-products__icon"
                    src="{{root}}assets/img/add-basket.svg"
                    alt=""
                  />
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="recommended-products__item">
              <img
                class="recommended-products__img"
                src="{{root}}assets/img/reccommended-products/arigato.jpg"
                alt=""
              />
              <div class="recommended-products__name">Филадельфия</div>
              <div class="recommended-products__price">
                <div class="price-text">140 СОМ</div>
                <button class="recommended-products__button">
                  <img
                    class="recommended-products__icon"
                    src="{{root}}assets/img/add-basket.svg"
                    alt=""
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
  <div class="show-for-small-only">{{> spoiler-block}}</div>
</section>
