<section class="slider-products hide-for-small-only">
  <div class="grid-container grid-container_narrow">
    <ul
      class="slider-products__tabs tabs"
      data-deep-link="true"
      data-update-history="true"
      data-deep-link-smudge="true"
      data-deep-link-smudge-delay="500"
      data-tabs
      id="collapsing-tabs"
    >
      <li class="tabs-title is-active"><a href="#panel1c" aria-selected="true">Новинки</a></li>
      <li class="tabs-title"><a href="#panel2c">Популярное</a></li>
    </ul>

    <div class="tabs-content" data-tabs-content="collapsing-tabs">
      <div class="tabs-panel js-tabs-panel_1 is-active" id="panel1c">
        <div class="slider-products__slider swiper slider-products__slider_1">
          <div class="slider-products__swiper-wrapper swiper-wrapper">
            <div class="swiper-slide">
              <div class="slider-products__item product-cart">
                <a href="#" class="product-cart__img">
                  <img
                    src="{{root}}assets/img/products/sets.jpg"
                    width="950px"
                    height="470px"
                    alt=""
                  />
                </a>
                <a href="#" class="product-cart__title">Саломон сет</a>
                <div class="product-cart__info">1050 грамм, 30 кусочков</div>
                <div class="product-cart__bottom">
                  <div class="product-cart__price price-text">1500 СОМ</div>
                  <button class="product-cart__btn main-btn">Хочу!</button>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider-products__item product-cart">
                <a href="#" class="product-cart__img">
                  <img
                    src="{{root}}assets/img/products/sets.jpg"
                    width="950px"
                    height="470px"
                    alt=""
                  />
                </a>

                <a href="#" class="product-cart__title">Филадельфия и лосось сет</a>
                <div class="product-cart__info">1260 грамм, 36 кусочков</div>
                <div class="product-cart__bottom">
                  <div class="product-cart__price price-text">1150 СОМ</div>
                  <button class="product-cart__btn main-btn">Хочу!</button>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider-products__item product-cart">
                <a href="#" class="product-cart__img">
                  <img
                    src="{{root}}assets/img/products/sets.jpg"
                    width="950px"
                    height="470px"
                    alt=""
                  />
                </a>

                <a href="#" class="product-cart__title">Самая большая Филадельфия</a>
                <div class="product-cart__info">2050 грамм, 45 кусочков</div>
                <div class="product-cart__bottom">
                  <div class="product-cart__price price-text">2100 СОМ</div>
                  <button class="product-cart__btn main-btn">Хочу!</button>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider-products__item product-cart">
                <a href="#" class="product-cart__img">
                  <img
                    src="{{root}}assets/img/products/sets.jpg"
                    width="950px"
                    height="470px"
                    alt=""
                  />
                </a>

                <a href="#" class="product-cart__title">Филадельфия и лосось сет</a>
                <div class="product-cart__info">1260 грамм, 36 кусочков</div>
                <div class="product-cart__bottom">
                  <div class="product-cart__price price-text">1150 СОМ</div>
                  <button class="product-cart__btn main-btn">Хочу!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <div class="tabs-panel js-tabs-panel_2" id="panel2c">
        <div class="slider-products__slider swiper slider-products__slider_2">
          <div class="slider-products__swiper-wrapper swiper-wrapper">
            <div class="swiper-slide">
              <div class="slider-products__item product-cart">
                <a href="#" class="product-cart__img">
                  <img
                    src="{{root}}assets/img/products/sets.jpg"
                    width="950px"
                    height="470px"
                    alt=""
                  />
                </a>

                <a href="#" class="product-cart__title">Филадельфия и лосось сет</a>
                <div class="product-cart__info">1260 грамм, 36 кусочков</div>
                <div class="product-cart__bottom">
                  <div class="product-cart__price price-text">1150 СОМ</div>
                  <button class="product-cart__btn main-btn">Хочу!</button>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider-products__item product-cart">
                <a href="#" class="product-cart__img">
                  <img
                    src="{{root}}assets/img/products/sets.jpg"
                    width="950px"
                    height="470px"
                    alt=""
                  />
                </a>

                <a href="#" class="product-cart__title">Филадельфия и лосось сет</a>
                <div class="product-cart__info">1260 грамм, 36 кусочков</div>
                <div class="product-cart__bottom">
                  <div class="product-cart__price price-text">1150 СОМ</div>
                  <button class="product-cart__btn main-btn">Хочу!</button>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider-products__item product-cart">
                <a href="#" class="product-cart__img">
                  <img
                    src="{{root}}assets/img/products/sets.jpg"
                    width="950px"
                    height="470px"
                    alt=""
                  />
                </a>

                <a href="#" class="product-cart__title">Филадельфия и лосось сет</a>
                <div class="product-cart__info">1260 грамм, 36 кусочков</div>
                <div class="product-cart__bottom">
                  <div class="product-cart__price price-text">1150 СОМ</div>
                  <button class="product-cart__btn main-btn">Хочу!</button>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="slider-products__item product-cart">
                <a href="#" class="product-cart__img">
                  <img
                    src="{{root}}assets/img/products/sets.jpg"
                    width="950px"
                    height="470px"
                    alt=""
                  />
                </a>

                <a href="#" class="product-cart__title">Филадельфия и лосось сет</a>
                <div class="product-cart__info">1260 грамм, 36 кусочков</div>
                <div class="product-cart__bottom">
                  <div class="product-cart__price price-text">1150 СОМ</div>
                  <button class="product-cart__btn main-btn">Хочу!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>
